.taskForm{
    font-size: x-small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.taskButton{
    font-size:x-small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    /* background: rgb(75, 75, 149);
    color:rgb(172, 194, 212);
    border-radius: 5px; */
}

.taskButton:hover{
    background: rgb(88, 88, 147);
}

.submitButton{
    margin: auto;
  	position: absolute;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  	
  	left: 0;
  	bottom: 1;
 	right: 0;
  	height: 20px;
	width: 150px;
    
    
}

.newTaskForm{
    font-size: x-small;
    width: 130px;;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

select{
    font-size:x-small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}